.blackbtn-style {
  padding: 10px 20px;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.3s; 
}

.blackbtn-style:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-5px); 
}

.whiteOutlinebtn-style {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255); 
  background: transparent;
  color: white; 
  cursor: pointer;
  transition: background-color 0.5s, transform 0.3s, border-color 0.3s; 
}

.whiteOutlinebtn-style:hover {
  background-color: rgb(0, 0, 0); 
  border-color: transparent; 
  transform: translateY(-5px); 
}

.whiteToBlackbtn-style {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid transparent; 
  background: white; 
  color: black; 
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, transform 0.3s; 
}

.whiteToBlackbtn-style:hover {
  background-color: black;
  color: white; 
  transform: translateY(-5px);
}

