nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(31, 16, 70, 0.726);
    padding: 6px 80px;
}

.nav_logo {
    height: 100px;
    width: 100px;
}

.tabs {
    justify-content: center;
}